<mat-card>
  <mat-toolbar color="primary">
    <span>Cursos Disponíveis</span>
  </mat-toolbar>
  <div *ngIf="cursosLista$ | async as cursosLista; else esperando">
    <table mat-table [dataSource]="cursosLista" class="mat-elevation-z8">
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Curso</th>
        <td mat-cell *matCellDef="let curso">{{ curso.nome }}</td>
      </ng-container>

      <!-- Categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let curso">
          {{ curso.categoria }}
          <mat-icon aria-hidden="false" aria-label="Categoria do curso">
            {{ curso.categoria | categoria }}
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #esperando>
    <div class="esperando-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
